html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  margin: 0;
  position: relative;
  background-color: #fff; }

.header .header-wrap .header_button, .section .section_banner .section_banner_button {
  background-color: #699900;
  width: 176px;
  height: 60px;
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  border-radius: 5px; }
  .header .header-wrap .header_button:hover, .section .section_banner .section_banner_button:hover {
    background-color: #75aa01;
    border: 1px solid #bbc3ce; }

.header {
  background-image: url(../img/m-h-day.jpg);
  background-repeat: no-repeat;
  background-size: initial;
  background-position: center;
  border-radius: 0 0 50% 0; }
  .header .header-wrap {
    margin: 0 auto;
    width: 80%;
    padding-right: 38%; }
    .header .header-wrap .landing-logo {
      color: #2c2f3c; }
    .header .header-wrap .header_heading {
      font-size: 86px;
      font-weight: 900;
      font-family: "Source Sans Pro", sans-serif;
      line-height: 86px;
      margin-bottom: 92px;
      margin-top: 0;
      position: relative;
      z-index: 2; }
      .header .header-wrap .header_heading::before {
        content: '';
        background-color: #14a0c7;
        position: absolute;
        z-index: -1;
        bottom: 0;
        width: 365px;
        height: 30px;
        left: 0; }
    .header .header-wrap .header_text {
      margin-top: 0;
      margin-bottom: 80px;
      font-size: 18px;
      font-family: "Hind", sans-serif;
      color: #c0c3ce; }
    .header .header-wrap .header_button {
      margin-bottom: 220px; }

.landing-logo {
  display: flex;
  justify-content: flex-start;
  padding-top: 25px;
  margin-bottom: 100px;
  font-family: "Hind", sans-serif; }
  .landing-logo img {
    margin-right: 10px;
    width: 56px;
    height: 56px; }
  .landing-logo p {
    margin: 8px 0;
    text-align: center;
    font-weight: 600;
    font-size: 22px;
    line-height: 22px; }
    .landing-logo p span {
      font-size: 10px;
      display: block; }

.section {
  margin-bottom: 260px;
  font-family: "Hind", sans-serif;
  text-align: center; }
  .section .section_text {
    font-size: 36px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
    position: relative;
    display: inline-block; }
    .section .section_text::before {
      content: '';
      background-color: #14a0c7;
      position: absolute;
      z-index: -1;
      bottom: 0;
      width: 162px;
      height: 14px;
      right: 10px;
      bottom: 5px; }
  .section .section_card_wrap {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between; }
    .section .section_card_wrap .section_card {
      width: 32%;
      padding: 24px;
      background-color: #21232e;
      border-radius: 5px;
      display: flex;
      flex-direction: column; }
      .section .section_card_wrap .section_card .section_card_img {
        width: 100%;
        margin: 0; }
      .section .section_card_wrap .section_card .section_card_heading {
        margin-left: 50%;
        transform: translateX(-50%);
        font-size: 24px;
        line-height: 28px;
        color: #fff;
        font-weight: 800;
        z-index: 2;
        width: max-content;
        position: relative; }
        .section .section_card_wrap .section_card .section_card_heading .section_card_underline {
          height: 14px;
          background-color: #14a0c7;
          z-index: -1;
          position: absolute;
          bottom: 0;
          right: 0;
          width: 100%; }
      .section .section_card_wrap .section_card .section_card_text {
        margin: 0;
        color: #c0c3ce; }
  .section .section_banner {
    background: linear-gradient(to right, #66950f, #2f5dd1);
    margin: 0 auto;
    padding: 40px 126px 60px;
    width: 80%;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    bottom: 210px;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: flex-end; }
    .section .section_banner .section_banner_text_wrap .section_banner_heading {
      font-size: 36px;
      line-height: 36px;
      font-weight: 800;
      font-family: "Source Sans Pro", sans-serif;
      color: #000;
      margin: 0 0 20px;
      position: relative;
      display: inline-block; }
      .section .section_banner .section_banner_text_wrap .section_banner_heading::before {
        content: '';
        background-color: #14a0c7;
        position: absolute;
        z-index: -1;
        bottom: 0;
        width: 80px;
        height: 14px;
        left: 143px; }
    .section .section_banner .section_banner_text_wrap .section_banner_text {
      color: #c0c3ce;
      margin: 0;
      text-align: left; }

.footer {
  background-color: #21232e;
  font-size: 16px;
  font-family: "Hind", sans-serif; }
  .footer .footer-wrap {
    width: 80%;
    margin: 0 auto;
    padding-top: 164px;
    padding-bottom: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .footer .footer-wrap .footer_logo,
    .footer .footer-wrap .footer_text,
    .footer .footer-wrap .footer-cr {
      width: 350px;
      margin: 0;
      padding: 0;
      color: #c0c3ce; }
    .footer .footer-wrap .footer-cr {
      text-align: right; }

/*# sourceMappingURL=style1.css.map */
