$header-background: url(../img/m-h-night.jpg);
$body-backgrund: #21232e;
$button-color: #e3ac00;
$dark-background: #3b3f50;
$line-color: #ff4e33;
$banner-background: linear-gradient(to right, #e3ac00, #953150);
$light-font-color: #d1d1d1;
$white-font-color: #fff;
$heading-font-family: 'Source Sans Pro',
sans-serif;
$paragraph-font-family:'Fresca',
sans-serif;
$border-radius: 5px;
$logo-text: (logo:22px,
    sub-text:12px,
);
$logo-color:#fff;