$header-background: url(../img/m-h-day.jpg);
$body-backgrund: #fff;
$button-color: #699900;
$dark-background: #21232e;
$line-color: #14a0c7;
$banner-background: linear-gradient(to right, #66950f, #2f5dd1);
$banner-heading-font-color:#000;
$light-font-color: #c0c3ce;
$dark-font-color: #2c2f3c;
$white-font-color: #fff;
$heading-font-family: 'Source Sans Pro',
sans-serif;
$paragraph-font-family:'Hind',
sans-serif;
$border-radius: 5px;
$logo-text: (logo:22px,
    sub-text:12px,
);
$logo-color: #2c2f3c;
$footer-text-clor: #c0c3ce;